.root{
    display: flex;
    cursor: pointer;
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgb(247, 130, 63);
        
    }
    a{
        color:rgb(247, 130, 63)
    }
    :global(.selected){
        background-color:rgb(247, 130, 63);
        a{
            color:#fff;
        }
    }
}

